@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.center-element {
  grid-area: center_el;
}

.left-element {
  grid-area: left_el;
  place-self: center left;
}

.right-element {
  grid-area: right_el;
  place-self: center right;
}

.row {
  display: grid;
  align-items: center;
  grid-template-areas: 'left_el center_el center_el right_el';
  gap: 10px;
  font-family: "Press Start 2P", cursive;
  background-color: #2e1403;
  padding: 10px;
}

.row > div {
  background-color: #693919;
  text-align: center;
  margin: 10px 20px;
  font-size: 23px;
  color: #fff;
}

.clickable-element {
  &:hover {
    box-shadow: 0 0.25em 0.25em -0.1em;
    transform: translateY(-0.25em);
  }
}

.center-element-subtitle {
  font-size: 13px;
  margin-top: 8px;
}

.square {
  width: 50px;
  height: 50px;
  margin: 8px;
  display: inline-block;
  border: 2px solid black;
  cursor: pointer;
}
